<!doctype html>
<html>
<head>
	<title>Omaha Electricians | Concept Electric Company, Inc.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Concept Electric is an electrician company based in Omaha, Nebraska, who can handle all of your commercial, industrial, residential, and underground electrical needs.">
	<meta name="keywords" content="Omaha, Electrician, Electricians, Commercial, Industrial, Residential, Underground, Concept Electric Company, Mark Pechar, Nebraska">
	<link href="<%= url('/stylesheets/concept.css') %>" rel="stylesheet" type="text/css">
	<link href="<%= url('/images/favicon.png') %>" rel="shortcut icon" type="image/png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-35239973-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>

	<%= erb :nav_mobile %>
	<%= erb :nav_large %>

	<div class="container">

	<%= yield %>

	</div>
	
	<%= erb :footer %>

	<script src="js/concept.js"></script>
</body>
</html>