<!doctype html>
<html>
<head>
	<title>Concept Electric Company, Inc.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="<%= url('/stylesheets/global.css') %>" rel="stylesheet" type="text/css">
	<link href="<%= url('/stylesheets/nav.css') %>" rel="stylesheet" type="text/css">
	<link href="<%= url('/stylesheets/contact.css') %>" rel="stylesheet" type="text/css">
	<link href="<%= url('/stylesheets/footer.css') %>" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

	<%= erb :mobile_nav %>

	<%= yield %>

	<%= erb :footer %>

	<script src="js/concept.js"></script>
</body>
</html>